# dependencies
/node_modules

# next.js
/.next/
/out/

# env
.env
.env.local
.env.*.local

# debug / misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo

# local-only scripts (not deployed)
/scripts/
